body{
    margin: 0;
}

p{
    font-size: 17px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(26, 113, 171);
}

header img{
    height: 50px;
}

header h1{
    margin: 15px 0;
}

header nav{
    padding: 0 0 0 20px;
}

header a{
    padding: 0 10px 0 0;
    color: black;
    font-style: normal;
    text-decoration: none;
}

.hk{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.hk img{
    height: 40px;
    margin: 7px 0 5px 0;
}

.hk a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-style: normal;
    text-decoration: none;
    padding: 20px;
    color: white;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: black;
}

.content{
    display: flex;
    flex-direction: column;
    margin: 0 0 10% 0;
    width: 80%;
}

.game_about h2{
    border-bottom: 2px solid white;
}

.game_about aside{
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #717171;
    font-style: italic;
    color: #d1d1d1;
}

main .review {
    display: grid;
    grid-template-columns: max-content 1fr; 
    gap: 0;
    align-items: start;
}

.review h2{
    grid-column: 1 / -1;
    border-bottom: 2px solid white;
}

.review img{
    grid-column: 1;
    padding: 0 20px 0 0;
}

.review table{
    grid-column: 2;
    border-collapse: collapse;
    border: 3px solid white;
    letter-spacing: 1px;
    font-size: 15px;
    width: 400px;
}

table caption{
    caption-side: bottom;
    color: white;
    font-style: italic;
    padding: 10px;
}

thead{
    background-color: rgb(39, 39, 39);
}

thead th{
    padding: 7px 7px 7px 12px;
}

tbody td{
    padding: 7px 7px 7px 12px;
}

tbody th{
    text-align: left;
    padding: 7px 7px 7px 12px;
}

th, td{
    border: 2px solid white;
}

footer{
    color: white;
    text-align: center;
    margin: 100px;
}
